main{
    height: 80%;
    width: 60%;
    padding: 0px;
    margin-top: 80px;
}
section{
    background-color: var(--background_color_nav);
    height: 80%;
    overflow: auto;
    border-radius: 10px;
    padding: 10px;
}
.element{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap:5px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid var(--font_color) 1px;
}
.popunjena_zvijezda{
    color: orange;
}
button{
        background-color:rgba(255, 255, 255, 0);
        color: var(--font_color);
        border: solid 1px var(--font_color);
        border-radius: 4px;
        margin: 5px 20px;
        padding: 5px;
}
.izmjena{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--background_transparent_black_focus);
    top: 0%;
    z-index: 9999;
    transition: 300ms;
}
.izmjena form{
    background-color: var(--border_color);
    width: 60%;
    margin: 120px auto;
    border-radius: 20px;
    transition: 300ms;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
form h3{
    width: 100%;
    margin: 0px 20px;
    margin-bottom: 10px;
    padding: 2% 10%;
    border-bottom: solid var(--font_color) 2px;
}
.unos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    font-size: large;
    margin: 10px 30px;
}
form input{
    height: 30px;
    border-radius: 5px;
}
form button{
    padding: 10px;
    font-size: medium;
}
input[type="number"]{
    width: 80px;
}