/* redoslijed stavljanja tagova:
    - prvo izgled
    - onda položaj */


/* pronasla na netu, nisam stigla isprobati, a mozda bude korisno:
    crtica označava novi dio, tj. ako nema crticu pripada kodu iznad
    -@media (prefers-color-scheme: dark) { }
    -

*/
:root{
    /* inicijalizacija nekih varijabla 
    (vjerovatno će nam trebati kasnije za light/dark mode) */
    
    --background_color:rgb(53, 8, 90);
    --background_color_naslov: rgb(74, 17, 114);
    --background_color_nav:rgb(35, 9, 84);
    --background_color_nav_hover:rgb(51, 7, 134);
    --background_transparent_black:rgba(255, 255, 255, 0.1);
    --background_transparent_black_focus:rgba(255,255,255,0.2);
    --font_color:white;
    --border_color:#7b2cbf;
    --border_color_hover:#9e5ed6;
    --box_shadow:rgba(157, 78, 221, 0.5);
}
body{
    background-color: var(--background_color);
    color: var(--font_color);
    margin: 0;
}
header{
    background-color: var(--background_color_naslov);
    position:fixed;
    width:100vw;
}
a{
    text-decoration: none;
    color: var(--font_color);
}
.naslov{/* 
    background-color:var(--background_color_naslov); */
    text-align: left;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.naslov h2{
    margin: 0;
}
nav{
    background-color: var(--background_color_nav); 
    height: 30px;
    white-space: nowrap; /* nema prelaska u novi red ako nema prostora */
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav_padajuci_meni{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 100%;

}
nav button{
    list-style: none; /* brisanje tačkica kod ul */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: 100%;
    background-color: var(--background_color_nav);
    border: none;
    border-radius: 5%;
    padding: 0 10px;
    
    &:hover{
        transition: 300ms;
        background-color: var(--background_color_nav_hover);
        border: none;
    border-radius: 5%;
    }
}
.hamburger{
    background-color: var(--background_color_naslov);
    
}
.hamburger_dugme{
    background-color: var(--background_color_naslov);
    border-radius: 5vw;
    border-color: var(--font_color);
    color: var(--font_color);
    width: min-content;
    height: min-content;
    display: none;
}
main{
    justify-self: center;
    display: flex;
    padding: 120px;
    width: 70vw;
    justify-content: center;
    flex-direction: column;
}
/*
PRIKAZ ZAVISNO OD USLOVA:
    @media zavisno od uslova mijenja izgled stranice,
    uslovi mogu biti vezani za ekran, dimenzije, orijentaciju,
    preference korisnika i sl. između vitičastih zagrada se pise
    css kod koji se mijenja kada je uslov ispunjen,
 */
@media screen and (max-width:600px){
   
    body{
        background-color: red;
    }
    nav{
        flex-direction: column;
        background-color: red;
    }
    .hamburger{
        background-color: var(--background_color_nav);
    }
    
    .hamburger_dugme{
        display: flex;
    }
    .nav_padajuci_meni{
        background-color: var(--background_color_naslov);
        width: min-content;
        /* tagovi za animaciju */
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 500ms ease;
        /* animation: padajuci_meni_pozadina 500ms; */
    }
    /* dodatna clasa open, js dodaje ovu klasu na
    prvi element preko toggle, omogućava da jedan element 
    promjenimo na neki nacin bez uvođenje novog elementa u
    html kod */
    .nav_padajuci_meni.open{
        transition: transform 500ms ease;
        transform: scaleY(1);
    }
    .resize .nav_padajuci_meni{
        transition: none;
    }
    nav ul{
        flex-direction: column;
    }
    .nav_padajuci_meni li{
        opacity: 0;
        color: var(--font_color);
        transform: translateX(-10px);
        transition: all 200ms ease;
    }
    .nav_padajuci_meni.open li{
        opacity: 1;
        transform: translate(0px);
    }
    .nav_padajuci_meni.open li:nth-child(1){transition-delay: 100ms;}
    .nav_padajuci_meni.open li:nth-child(2){transition-delay: 400ms;}
    .nav_padajuci_meni.open li:nth-child(3){transition-delay: 900ms;}
    
}
    /* 
    napravljena animacija koja naglasava kako ce se neki element 
    mjenjati kad mu se pridruzi animacija preko taga animation */
@keyframes padajuci_meni_pozadina {/* 
    transformise objekat tako sto mu mijenja veličinu po y osi
    vrijednosti predstavljaju razmjeru */
    from{transform: scaleY(0);}
    to{transform: scaleY(1);}
}
