/* redoslijed stavljanja tagova:
    - prvo izgled
    - onda položaj */

:root{
    --background_color: rgb(74, 17, 114);
    --background_color_h3:rgb(53, 8, 90);
    --font_color:white;
}
body{
    background-color: var(--background_color);
    color: var(--font_color);
    margin: 0;
}
.naslov{
    background-color:var(--background_color_h3);
    text-align: left;
    position: fixed;
    top:0px;
    width:100vw;
    
    
}
nav{
    background-color: var(--background_color_h3);
    white-space: nowrap; /* nema prelaska u novi red ako nema prostora */
    display:flex;
    flex-direction: row;
}
nav ul{
    list-style: none; /* brisanje tačkica kod ul */
    display: flex;
    flex-direction: row;
    
}