/* redoslijed stavljanja tagova:
    - prvo izgled
    - onda položaj */


/* pronasla na netu, nisam stigla isprobati, a mozda bude korisno:
    crtica označava novi dio, tj. ako nema crticu pripada kodu iznad
    -@media (prefers-color-scheme: dark) { }
    -

*/
:root{
    /* inicijalizacija nekih varijabla 
    (vjerovatno će nam trebati kasnije za light/dark mode) */
    --background_color: rgb(74, 17, 114);
    --background_color_h3:rgb(53, 8, 90);
    --font_color:white;
}
body{
    background-color: var(--background_color);
    color: var(--font_color);
    margin: 0;
}
header{
    background-color: var(--background_color_h3);
    position:fixed;
    width:100vw;
}
.naslov{/* 
    background-color:var(--background_color_h3); */
    text-align: left;
    top:0px;
}
nav{
    background-color: var(--background_color_h3); 
    white-space: nowrap; /* nema prelaska u novi red ako nema prostora */
    display:flex;
    flex-direction: row;
}
nav h2{
    background-color: var(--background_color_h3);
    width: 100vw;
}
nav ul{
    list-style: none; /* brisanje tačkica kod ul */
    display: flex;
    flex-direction: row;
    
}
.hamburger{
    background-color: var(--background_color_h3);
    
}
nav button{
    background-color: var(--background_color_h3);
    width: min-content;
    height: min-content;
    display: none;
}
@media screen and (max-width:600px){
   
    body{
        background-color: red;
    }
    nav{
        flex-direction: column;
        background-color: red;
    }
    .padajuci_meni_nav{
        background-color: var(--background_color_h3);
        display: flex;
        width: min-content;
    }
    nav ul{
        flex-direction: column;
    }
    nav button{
        display: flex;
    }
}
/*
PRIKAZ ZAVISNO OD USLOVA:
    @media zavisno od uslova mijenja izgled stranice,
    uslovi mogu biti vezani za ekran, dimenzije, orijentaciju,
    preference korisnika i sl. između vitičastih zagrada se pise
    css kod koji se mijenja kada je uslov ispunjen,

    za primjer ovaj kod između zvjezdica prekopirati van komentara
***************
@media screen and (max-width:800px) {
    body{
        background-color: red;
    }
**************
} */