section{
    background-color: var(--background_color_nav);
    border-radius: 5vmin;
    width: 70%;
    padding: 1%;
}
.element{
    flex-direction: row;
    width: 100%;
    border-bottom: solid var(--font_color) 1px;
    &:last-child{
        border-bottom: none;
    }
}
.izmjena{
    display: none;
}
.dugmad{
    flex-direction: row;
}