main{

}
form{
    flex-direction: row;
}
.ocjena{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
button{
        color: var(--font_color);
        background-color: var(--border_color);
        border-radius: 5px;
        &:hover{
            transition: 300ms;
            background-color: var(--border_color_hover);
        }        
}
section{
    height: 70vh;
    overflow-y: auto;
    flex-wrap: nowrap;
    
}