body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
main{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 70%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
}
aside{
    background-color: var(--border_color);
    padding: 1rem;
    border-radius:0 1rem 1rem 0;
    justify-content: start;
    width: 15%;
    /* width: clamp(1rem,15vw,20rem); */
        overflow-wrap: anywhere; 
    word-break: break-word;
    align-items: stretch;

}
span{
    margin-bottom: 0.2rem;
    align-items: start; 
}
.sadrzaj{
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
    margin: 1rem;
    /* width: 70vw; */
    width: 70%;
    height: 70vh;
}
.tabovi{
    flex-direction: row;
    justify-content: start;
}
.tabovi button{
    color: var(--font_color);
    background-color: var(--border_color);
    padding: 0.3rem;
    border-radius:1rem 1rem 0 0;
    justify-content: start;
    &:hover{
        background-color: var(--border_color_hover);
    }
}
.tab{
    display: none;
    background-color: var(--background_color_nav);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    height: 100%;
    width: 100%;
    justify-content: start;
    flex-direction: column;
}
.ocjena{
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.tab.aktivan{
    display: flex;
}
@media screen and (max-width:600px){
    main{
        flex-direction: column;
        width: 100%;
    }
    aside{
        box-sizing: border-box;
        width: 100%;
        border-radius: 0;
    }
    .sadrzaj{
        box-sizing: border-box;
        width: 85%;
        margin: 0.5rem;
    }
}